
*{
    margin:0;
    padding:0;
}
.back{
    position:absolute;
    color:white;
}
a{
    text-decoration: none;
    color:white;
}
.table{
    color: white;
    th{
        font-weight: 100;
    }
}

#stats{
    display:flex;
    justify-content: center;
    flex-direction: row;
}
.container-fluid{
    background-color:rgba(0, 0, 0, 0.589);
    h1{
        text-align: center;
        font-family: pokemon;
        font-size: 4rem;
        color: white;
    }
}
.content{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    color:white;
    div{
        margin:15px;
    }
}
@font-face{
    font-family: pokemon;
    src: url('../font/Pokemon\ Hollow.ttf');
}
@font-face{ 
    font-family: car;
    src: url("../font/Pokemon\ Solid.ttf");
}
@font-face{ 
    font-family: vcr;
    src: url("../font/VCR_OSD_MONO_1.001.ttf");
}
body{
    background-image: url("../images/back.png");
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    text-align:center;
    font-family:vcr;
    h1{
        font-family:pokemon;
    }
 #cards{
        display: flex;
        justify-content: space-evenly;
        flex-direction: center;
    }
    img{
        height: 15rem;
        width: 15rem;
    }
    #but{
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 2rem;
    }
    h5{
        text-align: center;
        font-size: 2.5rem;
    }
    h1{
        text-align: center;
        font-family: pokemon;
        font-size: 6rem;
        color: black;
    }
    h5{
        font-family: car;
        font-size: 2.7rem;
        font-weight: 100;
    }
    .card{
        margin-top: 3rem;
        background-color: transparent;
        box-shadow: 2px 2px 2px 2px black;
    }
}